nav {
  font-family: 'TwCenMTStd Regular';
  color: #E9E9E9;
  background-color: #D26015;
  width: 100%;
  display: flex;
}

.navbar-nav {
  width: 100%;
}
.fa-shopping-cart{
  color: #F7D716;
}
.nav-item {
  padding-left: 5%;
  font-size: 30px;
  align-items: center;
}

.collapse {
  align-items: center;
}

#content{
  margin-left: 15%;
}
